# Server Configuration
PORT=3000
NODE_ENV=production
MODE=prod

# Image Configuration
IMG_START_INDEX=1
IMG_END_INDEX=100
IMG_BOY_START_INDEX=1
IMG_BOY_END_INDEX=50
IMG_GIRL_START_INDEX=51
IMG_GIRL_END_INDEX=100

# Avatar Configuration
AVATAR_PUBLIC_NAME=AV
AVATAR_FORAMT_FILE=.png
UPLOAD_DIR=images
AVATAR_404=AV404.png

# Jobs Configuration
JOBS_LIST=astronomer,chef,designer,doctor,farmer,firefighters,lawyer,operator,police,teacher 